<!doctype html>{% load static %}<html style="height: 100%">
<head>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>-->
	<script src="{% static 'monitor/cytoscape.min.js' %}"></script>
	<script src="{% static 'monitor/cytoscape-cose-bilkent.js' %}"></script>
	<link href="{% static 'monitor/bootstrap-5.1.0-dist/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous"></link>
	<script src="{% static 'monitor/bootstrap-5.1.0-dist/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
	<!--	<script src="{% static 'monitor/cytoscape-avsdf.js' %}"></script> -->

</head>
<body style="height: 100%; margin: 0;">

	<div class="container-fluid vh-100 d-flex flex-column">


	<!-- INICIO NAVEGACION -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="/">Inicio</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNavDropdown">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		<li class="nav-item">
		  <div class="nav-link me-auto" >Archivo: {{ nombre }}</div>
		</li>
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		    Vista
		  </a>
		  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		    <li><a class="dropdown-item active" href="#">General</a></li>
		    <li><a class="dropdown-item" href="#">Estadísticas</a></li>
		    <li><a class="dropdown-item" href="#">Análisis de duplicados</a></li>
		  </ul>
		</li>
	      </ul>
            <form class="d-flex my-2 my-lg-0">
                <input id="busca" class="form-control me-sm-2" type="search" placeholder="Equipo" aria-label="Buscar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
	    </div>
	  </div>
	</nav>

	<script>
		const navLinks = document.querySelectorAll('.nav-item')
		const menuToggle = document.getElementById('navbarSupportedContent')
		const bsCollapse = new bootstrap.Collapse(menuToggle, {toggle:false})
		navLinks.forEach((l) => {
		    l.addEventListener('click', () => { bsCollapse.toggle() })
		})
	</script>
	<!-- FIN NAV -->


	<!-- INICIO SCRIPT BUSQUEDA -->
	<script>
		var ultimaBusqueda="";

		function buscar() {
		    if ( document.getElementById('busca').value != ultimaBusqueda ) {
			ultimaBusqueda = document.getElementById('busca').value;
			cy.$('').each(function(ele) {
			
			
			    var ident = ele.data('id');
			    if (ident.includes(ultimaBusqueda) && ultimaBusqueda != "")
				ele.css('background-color','#f88')
			    else
				ele.css('background-color','')
			    
			    //console.log($(this)))
			})
		    }
		}

		document.getElementById('busca').addEventListener('keyup', buscar);
		document.getElementById('busca').addEventListener('change', buscar);
	</script>
	<!-- FIN SCRIPT BUSQUEDA -->


	<!-- INICIO CYTOSCAPE -->
	<div class="row flex-grow-1" xstyle="display: flex; flex-shrink: 10; xheight: calc( 100% - 6px ); flex 1 1 auto">
	 <div id="cy" style="nodisplay: flex; width: 100%; height: 100%; noflex: 1 1 auto"></div>
	 </div>
	</div>
	</div>

	<script>
		var i=0;
		var config = {
		    container: document.getElementById('cy'),
		    elements: [
				

		    // Dibujar los nodos de routers
		    {% for router in grafo.routers %}
			{
			    data: {
				id:  '{{ router }}',
				
				numero: 'R_' + i++,
				type: 'router',
				
			    }
			},
		    {% endfor %}


		    // Dibujar las aristas de adyacencias ptp de routers
		    {% for router, vecinos in grafo.routers.items %}
			{% for vecino in vecinos %}
			    {
				data: {
				    id: '{{ router }}_{{ vecino }}',
				    source: '{{ router }}',
				    target: '{{ vecino }}',
				}
			    },
				
			{% endfor %}
		    {% endfor %}


		    // Dibujar los nodos de redes broadcast/NBMA
		    {% for network in grafo.networks %}
			{
			    data: {
				id:  'N_{{ network }}',
				type: 'network'
			    }
			    
			},
		    {% endfor %}

		    // Dibujar las aristas de redes
		    {% for network, vecinos in grafo.networks.items %}
			{% for vecino in vecinos %}
			    {
				data: {
				    source:  'N_{{ network }}',
				    target: '{{ vecino }}',
				}
			    },
			{% endfor %}
		    {% endfor %}


		    ],
		    
		    // Opciones
		    layout: {
			name: 'cose-bilkent',
			randomize: false,
			nodeDimensionsIncludeLabels: true,
			quality: 'proof',
			padding: 40,
			numIter: 10000,
			idealEdgeLength: 100,
			    /*
			nodeRepulsion: 4000,
			xedgeElasticity: 0.9,
			xnestingFactor: 0.8,
			xgravityRange: 10.0,
			    */
		    },
		    style: [
			{
			    selector: 'node',
			    style: {
				'content': 'data(id)',
				'labelValign': 'middle',
				"text-valign" : "center",
				"text-halign" : "center",
				'width': 'label',
				'height': 'label',
				'padding': '0.2em',
			    }
			},
			{
			    selector: 'node[type="router"]',
			    style: {
				'shape': 'square',
				'background-color': '#88f',
				'labelValign': 'middle',
			    }
			},
		    ]
		};
		cy = cytoscape(config);
	</script>
	<!-- FIN CYTOSCAPE -->

</body>
